name: CI
on:
  - push
  - pull_request
permissions: {}
jobs:
  lint:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: "24"
      - run: npm install --ignore-scripts
      - name: Make sure we don't build and can't publish
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        run: |
          echo "Error: This workflow should only run on version tags (refs/tags/v*)"
          exit 1
      - run: npm run lint-cpp
      - run: npm run lint-js
      - run: npm run lint-types
  build-native:
    permissions:
      contents: read
    needs: lint
    name: "build-${{ matrix.platform }} [Node.js ${{ matrix.nodejs_version_major }}] '[package]'"
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            container: rockylinux:8
            nodejs_arch: x64
            nodejs_version: "^20.3.0"
            nodejs_version_major: 20
            platform: linux-x64
          - os: ubuntu-24.04
            container: rockylinux:8
            nodejs_arch: x64
            nodejs_version: "^20.3.0"
            nodejs_version_major: 20
            platform: linux-sse2-x64
          - os: ubuntu-24.04-arm
            container: arm64v8/rockylinux:8
            nodejs_arch: arm64
            nodejs_version: "^20.3.0"
            nodejs_version_major: 20
            platform: linux-arm64
          - os: macos-15-intel
            nodejs_arch: x64
            nodejs_version: "^20.3.0"
            nodejs_version_major: 20
            platform: darwin-x64
          - os: macos-15
            nodejs_arch: arm64
            nodejs_version: "^20.3.0"
            nodejs_version_major: 20
            platform: darwin-arm64
          - os: windows-2022
            nodejs_arch: x64
            nodejs_version: "^20.3.0"
            nodejs_version_major: 20
            platform: win32-x64

    steps:
      - name: Dependencies (Rocky Linux glibc)
        if: contains(matrix.container, 'rockylinux')
        run: |
          dnf install -y gcc-toolset-14-gcc-c++ make git python3.12 fontconfig google-noto-sans-fonts
          echo "/opt/rh/gcc-toolset-14/root/usr/bin" >> $GITHUB_PATH
      - name: Dependencies (Linux musl)
        if: contains(matrix.container, 'alpine')
        run: apk add build-base git python3 font-noto --update-cache
      - name: Dependencies (Python 3.11 - macOS, Windows)
        if: contains(matrix.os, 'macos') || contains(matrix.os, 'windows')
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Dependencies (Node.js)
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.nodejs_version }}
          architecture: ${{ matrix.nodejs_arch }}
      - uses: actions/checkout@v4
      - run: npm install
      - run: npm run build
      - run: npm run test-unit
      - run: npm run package-from-local-build
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}
          path: npm/${{ matrix.platform }}
          retention-days: 1
          if-no-files-found: error

  release:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-24.04
    needs:
      - build-native
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: npm
      - uses: actions/setup-node@v5
        with:
          node-version: "24"
      - name: Build platform-specific packages
        run: ls -la && ls -la npm

      - name: Package individual npm packages
        run: ./package-npm-packages.sh

      - name: Create GitHub release for tag
        if: startsWith(github.ref, 'refs/tags/v')
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*.tgz*"
          draft: true
